* {
  font-family: sans-serif;
  font-size: 11pt;
  margin: 0;
  padding: 0;
  color:#999999;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 11pt;
  background-color : #2e2e2e;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  background-color: #2e2e2e;
  border-style: none;
  text-align: center;
  width: 4em;
}

h2 {
  display: inline;
  margin-right: 0.2em;
}
