* {
  font-family: sans-serif;
  font-size: 11pt;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 11pt;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  background-color: white;
  border-style: none;
  text-align: center;
  width: 4em;
}

label {
    display: block;
}

.row {
  width:100%;
}

.block {
  display: inline-block;
}

.abilities td {
  font-size: 13pt;
  width: 4em;
  height: 2em;
  text-align: center;
  vertical-align:middle;
  border-style: solid;
  border-width:thin;
}

.abilities td * {
  font-size: 13pt;
}

.skills td {
  font-size: 9pt;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  vertical-align:middle;
}

.skills td * {
  font-size: 9pt;
}
